@model (string Country, string ActivePage, bool UserIsAdministrator)

<div class="customer-nav">
    <nav>
        <a href="/price-list/@Model.Country" class="@(Model.ActivePage != "price-list" ? "" : "active")">@(Model.UserIsAdministrator ? "Customer" : "") Price List</a>
        <a href="/product-inquiry/@Model.Country" class="@(Model.ActivePage == "product-inquiry" ? "active" : "")">@(Model.UserIsAdministrator ? "Customer" : "") Product Enquiry</a>
    </nav>
    <div class="select is-normal">
        <select onchange="javascript:changeCountry(this, '@($"/{Model.ActivePage}")')">
            <!option value="au" @(Model.Country == "au" ? "selected" : "")>Australia</!option>
            <!option value="nz" @(Model.Country == "nz" ? "selected" : "")>New Zealand</!option>
        </select>
    </div>
</div>
<script>
    function changeCountry(selectObject, url){
        location = `${url}/${selectObject.value}` 
        }
</script>
