@using C3Apparel.Frontend.Data.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model C3Apparel.Web.Features.Pricing.CustomerPricingInquiryPageViewModel

@section Styles {
   <link rel="stylesheet" href="/client/dist/styles/customer-inquiry-page.css" asp-append-version="true">
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/@@vueform/multiselect/themes/default.css">
}

@section Scripts {
   <script src="/client/dist/scripts/customer-inquiry-page.js" asp-append-version="true"></script>
   <script type="text/javascript" src="https://unpkg.com/@@vueform/multiselect"></script>
}
<partial name="~/Features/Pricing/_CustomerNavigation.cshtml" model="@(Model.CountryCode, "product-inquiry", Model.UserIsAdministrator)"/>
<div class="main-caption">
   @Model.CountryName Product Enquiry
</div>
<div id="main-app" data-endpoint="@Url.Action("SearchPriceList", "CustomerPricingInquiry")" 
     data-endpoint-download="@Url.Action("DownloadCSV", "CustomerPricingInquiry")" 
     data-method="POST" data-item-per-page="@C3Constants.GRID_ITEMS_PER_PAGE" data-currency="@Model.Currency">
   <input id="hiddenOptions" type="hidden" value="@Model.JsonBrandsFilterOptions" />
                             
   <div class="filter-container">
      <div class="field">
         <label>Brand</label>
         <div>
             <Multiselect
              v-model="filter.brands"
              mode="tags"
              :close-on-select="false"
              :searchable="true"
              :options="brandOptions" />
         </div>
      </div>
      <div class="field">
         <label>C-3 Style</label>
         <div class="control">
            <div>
               <input type="text" v-model="filter.c3Style">
            </div>
         </div>
      </div>
      <div class="field">
         <label>Description</label>
         <div class="control">
            <div>
               <input type="text" v-model="filter.description">
            </div>
         </div>
      </div>
      <div class="field">
         <label>Product Group</label>
         <div class="control">
            <div>
               <input type="text" v-model="filter.productGroup">
            </div>
         </div>
      </div>
      <div class="field">
         <label>Sizes</label>
         <div class="control">
            <div>
               <input type="text" v-model="filter.sizes">
            </div>
         </div>
      </div>
      <div class="field">
         <label>Colour Descriptions</label>
         <div class="control">
            <div>
               <input type="text" v-model="filter.colourDesc">
            </div>
         </div>
      </div>
      <div class="buttons">
          <button id="buttonSearch" class="button is-link" v-on:click.prevent="filterResults()">Search</button>       
          <button id="buttonCSVDownload" class="button is-link" v-on:click.prevent="download()">CSV Download</button>
      </div>
      <input type="hidden" name="currency" value="@Model.Currency" />
      <div v-if="hasError" class="error-validation">{{errorMessage}}</div>
   </div>
   <div id="listingMain">
      <div class="listing-container" v-if="showError">
         <div class="instruction">
            <p>No results for your search criteria</p>
         </div>
      </div>
      <div class="listing-container" v-if="grid.rows.length>0">
         
         <table class="listing-table">
            <thead class="listing-header">
            <tr>
               <th colspan="7">
               </th>
               <th class="col-header col-group thick thick-left" colspan="@(Model.PriceCol1HasFreightSurcharge ? "3" : "2")">
                  Column 1
               </th>
               <th class="col-header col-group thick" colspan="@(Model.PriceCol2HasFreightSurcharge ? "3" : "2")">
                  Column 2
               </th>
               <th class="col-header col-group thick" colspan="@(Model.PriceCol3HasFreightSurcharge ? "3" : "2")">
                  Column 3
               </th>
               <th class="col-header col-group thick" colspan="@(Model.PriceCol4HasFreightSurcharge ? "3" : "2")">
                  Column 4
               </th>
            </tr>
            <tr>
               <th rowspan="2" class="col-header col-brand">Brand</th>
               <th rowspan="2" class="col-header col-style">C-3 Style</th>
               <th rowspan="2" class="col-header">Description</th>
               <th rowspan="2" class="col-header col-sizes">Product Group</th>
               <th rowspan="2" class="col-header col-sizes">Sizes</th>
               <th rowspan="2" class="col-header col-color">Colour</th>
               <th rowspan="2" class="col-header">Colour Description</th>
            </tr>
            <tr>
               @if (Model.PriceCol1HasFreightSurcharge)
               {
                  <th class="col-header thick-left">
                     Freight Surcharge
                  </th>
               }
               <th class="col-header">
                  Unit Price
               </th>
               <th class="col-header thick">
                  MOQ Unit
               </th>
               @if (Model.PriceCol2HasFreightSurcharge)
               {
                  <th class="col-header">
                     Freight Surcharge
                  </th>
               }
               <th class="col-header">
                  Unit Price
               </th>
               <th class="col-header thick">
                  MOQ Unit
               </th>
               @if (Model.PriceCol3HasFreightSurcharge)
               {
                  <th class="col-header">
                     Freight Surcharge
                  </th>
               }
               <th class="col-header">
                  Unit Price
               </th>
               <th class="col-header thick">
                  MOQ Unit
               </th>
               @if (Model.PriceCol4HasFreightSurcharge)
               {
                  <th class="col-header">
                     Freight Surcharge
                  </th>
               }
               <th class="col-header">
                  Unit Price
               </th>
               <th class="col-header thick">
                  MOQ Unit
               </th>
            </tr>
            </thead>
            <tbody>
            <tr class="row" v-for="(row, index) in grid.rows">
               <td class=" col-brand" nowrap="nowrap">{{row.brand}}</td>
               <td class=" col-style center">{{row.productCode}}</td>
               <td class="">{{row.description}}</td>
               <td class=" col-color center">{{row.productGroup}}</td>
               <td class=" col-sizes center">{{row.sizes}}</td>
               <td class=" col-color center">{{row.colours}}</td>
               <td class="">{{row.colorDescription}}</td>
               @if (Model.PriceCol1HasFreightSurcharge)
               {
                  <td class=" col-price thick-left center">{{row.freightSurcharge1}}</td>  
               }
               <td class=" col-price center">{{row.unitPrice1}}</td>
               <td class=" col-units thick center">{{row.moq1}}</td>
               @if (Model.PriceCol2HasFreightSurcharge)
               {
                  <td class=" col-price center">{{row.freightSurcharge2}}</td>  
               }
               <td class=" col-price center">{{row.unitPrice2}}</td>
               <td class=" col-units thick center">{{row.moq2}}</td>
               @if (Model.PriceCol3HasFreightSurcharge)
               {
                  <td class=" col-price center">{{row.freightSurcharge3}}</td>  
               }
               <td class=" col-price center">{{row.unitPrice3}}</td>
               <td class=" col-units thick center">{{row.moq3}}</td>
               @if (Model.PriceCol4HasFreightSurcharge)
               {
                  <td class=" col-price center">{{row.freightSurcharge4}}</td>  
               }
               <td class=" col-price center">{{row.unitPrice4}}</td>
               <td class=" col-units thick center">{{row.moq4}}</td>
            </tr>
            </tbody>
         </table>
      </div>
      <div class="pagination" v-if="grid.rows.length>0">
         <div>
            <a v-if="grid.pagination.currentPage > 1" v-on:click="(event) => gotoPreviousPage(event)" >&lt; Previous</a>
         </div>
         <div class="page">
            <div>Page </div>
            <div class="select">
               <select v-model="grid.pagination.currentPage" v-on:change="(event) => gotoPage(event)">
                  <option v-for="(n, index) in grid.pagination.totalPage">{{n}}</option>
               </select>
            </div>
               
            <div> of</div><div>{{grid.pagination.totalPage}} </div>
         </div>
         <div>
            <a v-if="grid.pagination.currentPage < grid.pagination.totalPage" v-on:click="(event) => gotoNextPage(event)">Next &gt;</a>
         </div>
      </div>
      <div class="disclaimer">
         @Html.Raw(Model.DisclaimerText)
      </div>
   </div>
</div>