@page "/admin/users"
@using Microsoft.IdentityModel.Tokens
@using C3Apparel.Frontend.Data.Settings
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UserListModel
@{
    ViewData["Title"] = "Register";
}
@{
    Layout = "~/Features/Shared/_CMSLayout.cshtml";
}

<nav>
    <a href="/admin/register" class="active">Add New User</a>
    <a href="/admin/reset-password">Reset User Password</a>
</nav>

<div id="main-app" data-endpoint="@Url.Action("GetBrands", "Brand")"
     data-delete-endpoint="@Url.Action("DeleteBrand", "Brand")"
     data-method="POST" data-item-per-page="@AdminSettings.DEFAULT_PAGE_SIZE">
   <div class="action">
      <a class="button is-link" href="/admin/register">New User</a>       
   </div>
   <div class="filter-container">
      <form action="">
         <div class="field">
            <label>Name</label>
            <div class="control">
               <input type="text" id="filterName" name="filterName" v-model="filter.name"/>
            </div>
         </div>
         <div class="field">
            <label>Focus</label>
            <div class="control">
               <div class="select">
                  <select id="filterFocus" name="filterFocus" v-model="filter.focus">
                     <option value="">Select</option>
                     @foreach (var focus in C3Definitions.BrandFocuses)
                     {
                        <option value="@focus">@focus</option>
                     }
                  </select>
               </div>
            </div>
         </div>
         <div class="field">
            <label>Currency</label>
            <div class="control">
               <div class="select">
                  <select id="filterCurrency" name="filterCurrency" v-model="filter.currency">
                     <option value="">Select</option>
                     @foreach (var currency in C3Definitions.Currencies)
                     {
                        <option value="@currency">@currency</option>
                     }
                  </select>
               </div>
            </div>
         </div>
         <div class="buttons">
            <button id="buttonSearch" class="button is-link" v-on:click.prevent="filterResults()">Search</button>
         </div>

         <div class="error"></div>
      </form>
   </div>
   <div id="listingMain">
      <div class="listing-container" v-if="grid.rows.length == 0">
         <div class="instruction">
            <p>No result for your search criteria</p>
         </div>
      </div>
      <div class="listing-container" v-if="grid.rows.length>0">
         <table class="listing-table listing-table-width-auto">
            <thead class="listing-header">
            <tr>
               <th class="col-header col-action">

               </th>
               <th class="col-header">
                  Username
               </th>
               <th class="col-header">
                  Role
               </th>
            </tr>
            </thead>
            <tbody>
             @foreach (var user in Model.Users)
             {
                 <tr class="row">
                     <td class="col-action center">
                        <a href="/admin/users/@user.UserId">
                           <i class="fa-solid fa-pen"></i>
                        </a>
                        <a href="#" class="remove has-confirmation">
                           <i class="fa-solid fa-trash-can"></i>
                        </a>
                     </td>
                     <td>@user.UserName</td>
                     <td>@user.RoleName</td>
                 </tr>
             }
            </tbody>
         </table>
      </div>
      <div class="pagination" v-if="grid.rows.length>0">
         <div>
            <a v-if="grid.pagination.currentPage > 1" v-on:click="(event) => gotoPreviousPage(event)">&lt; Previous</a>
         </div>
         <div class="page">
            <div>Page </div>
            <div class="select">
               <select v-model="grid.pagination.currentPage" v-on:change="(event) => gotoPage(event)">
                  <option v-for="(n, index) in grid.pagination.totalPage">{{n}}</option>
               </select>
            </div>

            <div> of</div>
            <div>{{grid.pagination.totalPage}} </div>
         </div>
         <div>
            <a v-if="grid.pagination.currentPage < grid.pagination.totalPage" v-on:click="(event) => gotoNextPage(event)">Next &gt;</a>
         </div>
      </div>

      <div id="confirmation-delete" :class="!showDeletePopup ? 'modal' : 'modal is-active'">
         <div class="modal-background"></div>
         <div class="modal-content">
            <div class="modal-description">
               <p>Are you sure you want to delete?</p>
            </div>
            <div>
               <button id="btnDelete" class="button is-link" aria-label="delete" v-on:click.prevent="deleteBrand()">Yes</button>
            </div>
         </div>
         <button id="modal-close" class="modal-close is-large" aria-label="close"></button>
      </div>
   </div>
</div>

<div class="main-caption">
    Register User
</div>
<div id="editMain">
    <div class="form">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="success-panel">@Model.Message</div>   
        }
        
        @if (Model.Users.IsNullOrEmpty())
        {
            
        }
        else
        {
            <table>
                <tr>
                    <th></th>
                    <th>Username</th>
                    <th>Role</th>
                </tr>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td><a href="/admin/users/@user.UserId">Edit</a></td>
                        <td>@user.UserName</td>
                        <td>@user.RoleName</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
