@using Microsoft.AspNetCore.Mvc.TagHelpers
@using C3Apparel.Frontend.Data.Settings
@model C3Apparel.Features.Admin.PriceList.PricingListPageViewModel
@{
   Layout = "_CMSLayout";
}
@section Styles {
   <link rel="stylesheet" href="/client/dist/styles/price-list.css" asp-append-version="true">
}

@section Scripts {
   <script src="/client/dist/scripts/price-list.js" asp-append-version="true"></script>
}
<partial name="~/Features/Admin/_ProductPricingNavigation.cshtml" model="3"/>
<div class="main-caption">
   Price List
</div>
<div id="main-app" data-method="POST" 
     data-endpoint="@Url.Action("GetBrandsPriceList", "PriceList")"
     data-endpoint-save="@Url.Action("SaveToPriceListTable", "PriceList")"
     data-item-per-page="@AdminSettings.DEFAULT_PAGE_SIZE">
   <div v-if="showSuccess" class="success-panel">
      Price list saved.
   </div>
   <div v-if="formErrorMessage != ''" class="error-panel">
         {{formErrorMessage}}
   </div>
  @* <div class="filter-container">
       <form>
          <div class="field">
             <label>Brand</label>
             <div class="control">
                <div class="select">
                   <select id="filterBrand" name="brand" v-model="form.brandId">
                       @foreach (var brand in Model.Brands)
                      {
                         <option value="@brand.Value">@brand.Text</option>
                      }
                   </select>
                </div>                
                <div :class="{error: true, show: !validation.brand}">Please select brand</div>
             </div>
          </div>
          <div class="buttons">
             <button class="button is-link" v-on:click.prevent="generatePriceList()">Generate Price List</button>
          </div>
  
          <div class="error"></div>
       </form>
    </div>
    *@  
   <div id="listingMain">

      <div class="listing-container" v-if="grid.rows.length>0">
         <table class="listing-table brand-table">
            <thead class="listing-header">
            <tr>
               <th class="col-header col-brand">
                  Brand
               </th>
               <th class="col-header col-enabled">
                  Enabled
               </th>
               <th class="col-header col-publish-date">
                  C3 Published Price List Date
               </th>
               <th>Price Lists</th>
               <th class="col-header col-publish-date">
                  Last Published Date Time
               </th>
               <th class="single-button"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="row" v-for="(row, index) in grid.rows">
               <td nowrap="nowrap">{{row.brand}}</td>
               <td class="center" v-html="row.enabled ? 'Yes' : 'No'"></td>
               <td class="center">{{row.c3PublishDate}}</td>
               <td class="files">
                  <a :href="row.pdfauPriceUrl" target="_blank" v-if="row.pdfauPriceUrl">AUD PDF Price List</a>
                  <a :href="row.pdfnzPriceUrl" target="_blank" v-if="row.pdfnzPriceUrl">NZD PDF Price List</a>
                  <a :href="row.csvauPriceUrl" target="_blank" v-if="row.csvauPriceUrl">AUD CSV Price List</a>
                  <a :href="row.csvnzPriceUrl" target="_blank" v-if="row.csvnzPriceUrl">NZD CSV Price List</a>
               </td>
               <td class="center">{{row.lastPublishDateTime}}</td>
               <td><a href="#" class="button is-link" v-on:click.prevent="generatePriceList(row.brandId)">Publish Price List</a></td>
            </tr>
            </tbody>
         </table>
      </div>
      <div class="pagination" v-if="grid.rows.length>0">
         <div>
            <a v-if="grid.pagination.currentPage > 1" v-on:click="(event) => gotoPreviousPage(event)">&lt; Previous</a>
         </div>
         <div class="page">
            <div>Page </div>
            <div class="select">
               <select v-model="grid.pagination.currentPage" v-on:change="(event) => gotoPage(event)">
                  <option v-for="(n, index) in grid.pagination.totalPage">{{n}}</option>
               </select>
            </div>

            <div> of</div>
            <div>{{grid.pagination.totalPage}} </div>
         </div>
         <div>
            <a v-if="grid.pagination.currentPage < grid.pagination.totalPage" v-on:click="(event) => gotoNextPage(event)">Next &gt;</a>
         </div>
      </div>

   </div>
 </div> 

