@using Microsoft.AspNetCore.Mvc.TagHelpers
@model C3Apparel.Web.Features.Admin.ProductPricing.InternalPriceListingPageViewModel
@{
   Layout = "_CMSLayout";
}
@section Styles {
   <link rel="stylesheet" href="/client/dist/styles/internal-inquiry.css" asp-append-version="true">
}

@section Scripts {
   <script src="/client/dist/scripts/internal-inquiry.js" asp-append-version="true"></script>
}
<partial name="~/Features/Admin/_ProductPricingNavigation.cshtml" model="4"/>
<div class="main-caption">
   Pricing Enquiry
</div>
<div id="main-app" data-endpoint="@Url.Action("GetPrices", "Inquiry")" data-endpoint-initial="@Url.Action("GetInitialFilter", "Inquiry")" 
     data-endpoint-download="@Url.Action("DownloadCSV", "Inquiry")" data-method="POST" data-item-per-page="50">

    <div class="filter-container inquiry-filter">
        <form action="">

           <div class="filter-settings">
               <h3 class="header">Settings
                   <a href="#" :class="filter.show ? 'down' : ''" v-on:click="toggleFilter()">
                       <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M5.75 6.25C5.53906 6.25 5.35156 6.17969 5.21094 6.03906L0.710938 1.53906C0.40625 1.25781 0.40625 0.765625 0.710938 0.484375C0.992188 0.179688 1.48438 0.179688 1.76562 0.484375L5.75 4.44531L9.71094 0.484375C9.99219 0.179688 10.4844 0.179688 10.7656 0.484375C11.0703 0.765625 11.0703 1.25781 10.7656 1.53906L6.26562 6.03906C6.125 6.17969 5.9375 6.25 5.75 6.25Z" fill="#008EAA"/>
                       </svg>
                   </a>
               </h3>
               <div class="filter-contents" :class="filter.show ? 'active' : ''">
                   <div class="filter-content-column">
                       <div class="field-heading">Exchange rates and Import duty</div>
                       <div class="control">
                           <table>
                               <tr>
                                   <th></th>
                                   <th>USD</th>
                                   <th>EURO</th>
                                   <th>Import Duty</th>
                               </tr>
                               <tr>
                                   <th>1 AUD</th>
                                   <td><input type="text" v-model="settings.rateAuUsd" class="text-number" /></td>
                                   <td><input type="text" v-model="settings.rateAuEuro" class="text-number" /></td>
                                   <td><input type="text" v-model="settings.dutyAU" class="text-number" /></td>
                               </tr>
                               <tr>
                                   <th>1 NZ</th>
                                   <td><input type="text" v-model="settings.rateNzUsd" class="text-number" /></td>
                                   <td><input type="text" v-model="settings.rateNzEuro" class="text-number" /></td>
                                   <td><input type="text" v-model="settings.dutyNZ" class="text-number" /></td>
                               </tr>
                           </table>
                       </div>
                   </div>
                   <div class="filter-content-column">
                       <div class="field-heading">Freight-weight prices</div>
                       <div class="tabs">
                           <ul>
                               <li :class="filter.freightActive ==  'euro' ? 'is-active' :''"><a href="#" v-on:click="switchFreightTab('euro')">Euro</a></li>
                               <li :class="filter.freightActive ==  'us' ? 'is-active' :''"><a href="#" v-on:click="switchFreightTab('us')">US</a></li>
                           </ul>
                       </div>
                       <div class="tab-content" v-show="filter.freightActive === 'euro'">
                           <table class="table-freight-weight">
                               <tr>
                                   <th></th>
                                   <th>Weight (kg)</th>
                                   <th>C3 Markup %</th>
                                   <th>AU Freight per KG</th>
                                   <th>AU Freight per Surcharge</th>
                                   <th>NZ Freight per KG</th>
                                   <th>NZ Freight per Surcharge</th>
                               </tr>
                               <tr v-for="(row, index) in settings.euroFreightSettings">
                                   <th>Col {{index + 1}}</th>
                                   <td>
                                       <input type="text" v-model="row.weightInKg" class="text-number" />
                                   </td>
                                   <td>
                                       <input type="text" v-model="row.marginInDecimal" class="text-number" />
                                   </td>
                                   <td>
                                       <input type="text"v-model="row.auFreightPerKg" class="text-number" />
                                   </td>
                                   <td>
                                       <input type="text"v-model="row.auFreightSurcharge" class="text-number" />
                                   </td>
                                   <td>
                                       <input type="text" v-model="row.nzFreightPerKg" class="text-number" />
                                   </td>
                                   <td>
                                       <input type="text" v-model="row.nzFreightSurcharge" class="text-number" />
                                   </td>
                               </tr>
                           </table>
                       </div>
                       <div  class="tab-content" v-show="filter.freightActive === 'us'">
                           <table class="table-freight-weight">
                               <tr>
                                   <th></th>
                                   <th>Weight (kg)</th>
                                   <th>C3 Markup %</th>
                                   <th>AU Freight per KG</th>
                                   <th>AU Freight per Surcharge</th>
                                   <th>NZ Freight per KG</th>
                                   <th>NZ Freight per Surcharge</th>
                               </tr>
                               <tr v-for="(row, index) in settings.usFreightSettings">
                                   <th>Col {{index + 1}}</th>
                                   <td>
                                       <input type="text" v-model="row.weightInKg" class="text-number" />
                                   </td>
                                   <td>
                                       <input type="text" v-model="row.marginInDecimal" class="text-number" />
                                   </td>
                                   <td>
                                       <input type="text"v-model="row.auFreightPerKg" class="text-number" />
                                   </td>
                                   <td>
                                       <input type="text"v-model="row.auFreightSurcharge" class="text-number" />
                                   </td>
                                   <td>
                                       <input type="text" v-model="row.nzFreightPerKg" class="text-number" />
                                   </td>
                                   <td>
                                       <input type="text" v-model="row.nzFreightSurcharge" class="text-number" />
                                   </td>
                               </tr>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
           <div class="field-row">
                <div class="field">
                    <label>Target currency</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="filter.targetCurrency">
                                <option value="AUD">AUD</option>
                                <option value="NZD">NZD</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field-row">
                <div class="field">
                    <label>Brand</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="filter.brandId" v-on:change="brand_onChanged($event)">
                                <option value="">Select Brand</option>
                                @foreach (var brand in Model.Brands)
                                {
                                    <!option value="@brand.Value" @(brand.IsSelected ? "selected" : "")>@brand.Text</!option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="field-row">
                <div class="field">
                    <label>Collection</label>
                    <div class="control">
                        <input type="text" v-model="filter.collection">
                    </div>
                </div>
            </div>*@
            <div class="buttons">
                <button id="buttonSearch" class="button is-link" type="button" v-on:click.prevent="search()">Search</button>
                <button id="buttonDownload" class="button is-link" type="button" v-on:click.prevent="download()" v-show="settings.id !== null">Download</button>
            </div>
            <div class="error">{{errorMessage}}</div>
        </form>
    </div>
   <div id="listingMain">
      <div class="listing-container" v-if="grid.rows.length == 0">
         <div class="instruction">
            <p>Please select a brand and click on search</p>
         </div>
      </div>
      <div class="listing-container" v-if="grid.rows.length>0">
         
         <table class="listing-table">
            <thead class="listing-header">
            <tr>
               <th colspan="5">
               </th>
               <th class="col-header col-group thick thick-left" colspan="3">
                  Column 1
               </th>
               <th class="col-header col-group thick" colspan="2">
                  Column 2
               </th>
               <th class="col-header col-group thick" colspan="2">
                  Column 3
               </th>
               <th class="col-header col-group thick" colspan="2">
                  Column 4
               </th>
            </tr>
            <tr>
               <th rowspan="2" class="col-header col-brand">Brand</th>
               <th rowspan="2" class="col-header col-style">Style</th>
               <th rowspan="2" class="col-header col-name">Description</th>
               <th rowspan="2" class="col-header col-sizes">Sizes</th>
               <th rowspan="2" class="col-header col-color">Colours</th>
            </tr>
            <tr>
               <th class="col-header thick-left">
                  Freight Surcharge
               </th>
               <th class="col-header">
                  Unit Price
               </th>
               <th class="col-header thick">
                  MOQ Unit
               </th>
               <th class="col-header">
                  Unit Price
               </th>
               <th class="col-header thick">
                  MOQ Unit
               </th>
               <th class="col-header">
                  Unit Price
               </th>
               <th class="col-header thick">
                  MOQ Unit
               </th>
               <th class="col-header">
                  Unit Price
               </th>
               <th class="col-header thick">
                  MOQ Unit
               </th>
            </tr>
            </thead>
            <tbody>
            <tr class="row" v-for="(row, index) in grid.rows">
               <td class=" col-brand" nowrap="nowrap">{{row.brand}}</td>
               <td class=" col-style">{{row.productCode}}</td>
               <td class=" col-name">{{row.description}}</td>
               <td class=" col-sizes">{{row.sizes}}</td>
               <td class=" col-color">{{row.colours}}</td>
               <td class=" col-price thick-left">{{row.freightSurcharge1}}</td>  
               <td class=" col-price">{{row.unitPrice1}}</td>
               <td class=" col-units thick">{{row.moq1}}</td>
               <td class=" col-price">{{row.unitPrice2}}</td>
               <td class=" col-units thick">{{row.moq2}}</td>
               <td class=" col-price">{{row.unitPrice3}}</td>
               <td class=" col-units thick">{{row.moq3}}</td>
               <td class=" col-price">{{row.unitPrice4}}</td>
               <td class=" col-units thick">{{row.moq4}}</td>
            </tr>
            </tbody>
         </table>
      </div>
      <div class="pagination" v-if="grid.rows.length>0">
         <div>
            <a v-if="grid.pagination.currentPage > 1" v-on:click="(event) => gotoPreviousPage(event)" >&lt; Previous</a>
         </div>
         <div class="page">
            <div>Page </div>
            <div class="select">
               <select v-model="grid.pagination.currentPage" v-on:change="(event) => gotoPage(event)">
                  <option v-for="(n, index) in grid.pagination.totalPage">{{n}}</option>
               </select>
            </div>
               
            <div> of</div><div>{{grid.pagination.totalPage}} </div>
         </div>
         <div>
            <a v-if="grid.pagination.currentPage < grid.pagination.totalPage" v-on:click="(event) => gotoNextPage(event)">Next &gt;</a>
         </div>
      </div>
   </div>
</div>